<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="/js/jquery.js"></script>

    <script type="text/javascript">
$(function(){	
	//导航切换
	$(".menuson .header").click(function(){
		var $parent = $(this).parent();
		$(".menuson>li.active").not($parent).removeClass("active open").find('.sub-menus').hide();
		
		$parent.addClass("active");
		if(!!$(this).next('.sub-menus').size()){
			if($parent.hasClass("open")){
				$parent.removeClass("open").find('.sub-menus').hide();
			}else{
				$parent.addClass("open").find('.sub-menus').show();	
			}
			
			
		}
	});
	
	// 三级菜单点击
	$('.sub-menus li').click(function(e) {
        $(".sub-menus li.active").removeClass("active")
		$(this).addClass("active");
    });
	
	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('.menuson').slideUp();
		if($ul.is(':visible')){
			$(this).next('.menuson').slideUp();
		}else{
			$(this).next('.menuson').slideDown();
		}
	});
})	
</script>

</head>

<body style="background:#f0f9fd;">
<div class="lefttop"><span></span>系统管理</div>

<dl class="leftmenu">

    <dd>
        <div class="title">
            <span><img src="/images/leftico01.png" /></span>用户管理
        </div>
        <ul class="menuson">
            <li><cite></cite><a href="user" target="rightFrame">用户管理</a><i></i></li>
            <li><cite></cite><a href="leave" target="rightFrame">用户留言</a><i></i></li>
            <li><cite></cite><a href="code" target="rightFrame">激活码管理</a><i></i></li>
        </ul>
    </dd>


    <dd>
        <div class="title">
            <span><img src="/images/leftico02.png" /></span>其他设置
        </div>
        <ul class="menuson">
            <li><cite></cite><a href="rotate" target="rightFrame">轮播图管理</a><i></i></li>
            <li><cite></cite><a href="news" target="rightFrame">系统公告</a><i></i></li>
            <li><cite></cite><a href="question" target="rightFrame">常见问题设置</a><i></i></li>
        </ul>
    </dd>


    <dd><div class="title"><span><img src="/images/leftico03.png" /></span>交易设置</div>
        <ul class="menuson">
            <li><cite></cite><a href="order_setting" target="rightFrame">订单规则设置</a><i></i></li>
            <li><cite></cite><a href="award" target="rightFrame">动态奖规则设置</a><i></i></li>
        </ul>
    </dd>


    <dd><div class="title"><span><img src="/images/leftico04.png" /></span>订单管理</div>
        <ul class="menuson">
            <li><cite></cite><a href="adminlist" target="rightFrame">添加订单</a><i></i></li>
            <li><cite></cite><a href="match" target="rightFrame">订单匹配</a><i></i></li>
            <li><cite></cite><a href="offer" target="rightFrame">发单查询</a><i></i></li>
            <li><cite></cite><a href="order" target="rightFrame">订单查询</a><i></i></li>
        </ul>

    </dd>

</dl>

</body>
</html>
