<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">其他设置</a></li>
        <li><a href="#">公告设置</a></li>
    </ul>
</div>

<div class="formbody">
    <form action="/admin/edit_news" method="post" th:action="@{/admin/news/updateNews}" th:object="${News}">

        <div class="formtitle"><span>公告信息</span></div>
        <ul class="forminfo">
            <li><label>公告标题</label><input name="id"  th:value="${news.id}" type="hidden" class="dfinput"/><input name="new_title" th:value="${news.new_title}" type="text" class="dfinput"/><i>标题不能超过30个字符</i></li>
            <li><label>公告内容</label><input name="new_content" th:value="${news.new_content}" type="text" class="dfinput"/><i>公告内容</i></li>
            <li><label>&nbsp;</label><input  type="submit" class="btn" value="确认保存"/></li>
        </ul>
    </form>

</div>


</body>

</html>
