<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">其他设置</a></li>
        <li><a href="#">添加轮播图</a></li>
    </ul>
</div>

<div class="formbody">
    <form action="/admin/addRotate"  enctype="multipart/form-data" method="post">

        <div class="formtitle"><span>上传轮播图</span></div>
        <ul class="forminfo">
            <li><label>轮播图</label><input name="file" type="file" class="dfinput"/><i></i></li>
            <li><label>链接地址</label><input name="href_url" type="text" class="dfinput"/><i></i></li>
            <li><label>&nbsp;</label><input  type="submit" class="btn" value="确认保存"/></li>
        </ul>
    </form>

</div>


</body>

</html>
