<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>

    <script language="javascript">
$(function(){	
	//导航切换
	$(".imglist li").click(function(){
		$(".imglist li.selected").removeClass("selected")
		$(this).addClass("selected");
	})	
})	

    </script>
    <script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});

    </script>
</head>


<body>

<body>

<form id="test" action="/admin/uploadFile" enctype="multipart/form-data" method="post">
    <input type="file" name="file"/>
    <button type="submit">send file</button>
</form>

<script type="text/javascript">
    <!--$("#test").submit(function (ev) {-->
        <!--$.ajax({-->
            <!--url: '/admin/uploadFile',-->
            <!--type: 'POST',-->
            <!--data: new FormData(ev.currentTarget),-->
            <!--processData: false,-->
            <!--contentType: false,-->
            <!--success: function (data) {-->
                <!--alert("file name on server: " + data.file_name);-->
            <!--}-->
        <!--});-->
        <!--ev.preventDefault();-->
    <!--});-->
</script>

</body>
</body>

</html>
